.app__offer {
  flex-direction: column;
  background: black;
}

.app__offer-title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  white-space: nowrap;
}

.app__offer-image {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-white);
}

.app__offer-image img {
  max-width: 100%;
  max-height: 100%;
}
